<!--
  This view should only display one pizza, with flavor, location, and picture.
-->

<!DOCTYPE html>
<html>
<head>
    <title>Pizzas</title>
</head>
<body>
    <p><%= italianFood.flavor %></p>
    <p><%= italianFood.location %></p>
    <img src="<%= italianFood.image %>">
</body>
</html>